// ============================
// Site color scheme
// ============================

// text color
$color_dark: #000000; 

// main website color
$color_main: #585757;

// color used for items to stand out
$color_accent: #767676;

// used for muted text and as alternative to background
$color_light: #969696;

// used for background
$color_background: #ffffff;
